SpeechRecognition
pyttsx3
pywhatkit
wikipedia
pyjokes
requests
aiohttp
python-weather
selenium
webdriver-manager
pyaudio
groq
python-dotenv
google-generativeai
# sqlite3 is part of Python stdlib, but add for clarity
sqlite3
# smtplib is part of Python stdlib, but add for clarity
smtplib
opencv-python
Pillow
pytesseract
googletrans==4.0.0-rc1
sounddevice
scipy